html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: linear-gradient(to bottom, rgb(36, 0, 36), black);
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  display: none;
}
.header {
  display: flex;
  justify-content: space-between;
}
#vue_app {
  background: url("img/plush.webp");
  animation: insanity;
  animation-duration: 420s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-size: 30%;
  border-right: 5px double gold;
  border-left: 5px double gold;
  padding: 0 !important;
  .main {
    box-shadow: 0px 0px 50px black inset;
    background: linear-gradient(to top, purple, transparent);
    background-attachment: fixed;
    padding: 0 !important;
    margin: 0 !important;
    .row {
      padding: 0 !important;
      margin: 0 !important;
      .col-md-6 {
        background: rgba(128, 128, 128, 0.527);
        padding: 10px;
        .cardContainer {
          height: 100%;
          width: 100%;
          position: relative;
          padding: 10px;
          background: radial-gradient(
            rgba(255, 255, 255, 0.822),
            rgba(255, 255, 255, 0.171)
          );
          backdrop-filter: blur(3px);
          border: 2px solid gold;
          box-shadow: 0px 0px 5px black;
          border-radius: 20px;
          transition: 0.2s;
          .film-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            font-weight: 700;
            width: calc(100% - 80px);
            color: white;
            .title {
              padding: 0 !important;
              margin: 0 !important;
              font-size: 20px;
              font-style: italic;
              text-shadow: 0px 0px 3px black;
            }
            .ratingStar {
              position: absolute;
              top: 0;
              right: 0;
              background-color: rgba(0, 0, 73, 0.719);
              width: 80px;
              height: 80px;
              border-top-right-radius: 20px;
              border-bottom-left-radius: 100%;
              text-align: center;
              padding-top: 20px;
              z-index: 3;
              box-shadow: -2px 2px 3px black;
              border-left: 2px solid gold;
              border-bottom: 2px solid gold;
              user-select: none;
            }
          }
          .thumbnail {
            padding: 0 !important;
            margin: 0 !important;
            img {
              cursor: pointer;
              width: 100%;
              aspect-ratio: 3/4;
              border: 5px dotted gold;
              user-select: none;
              filter: drop-shadow(0px 0px 2px black);
            }
            .imageInfo {
              position: relative;
              display: block;
              text-align: center;
              font-style: italic;
              font-family: "Times New Roman", Times, serif;
              font-size: 20px;
              user-select: none;
              .wrapper {
                filter: drop-shadow(0px 0px 10px rgb(0, 0, 0))
                  drop-shadow(0px 0px 5px black);
                font-family: Arial, Helvetica, sans-serif;
                font-style: normal;
                position: absolute;
                right: 10px;
                bottom: 0;
                .score {
                  height: 100px;
                  width: 100px;
                  background: radial-gradient(
                    rgb(80, 196, 196),
                    rgb(102, 102, 102)
                  );
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  color: white;
                  text-shadow: 0px 0px 3px black;
                  font-weight: 900;
                  font-size: 20px;
                  clip-path: polygon(0 50%, 50% 0, 100% 50%, 50% 100%);
                }
              }
            }
            .runtime,
            .released,
            .websites {
              width: calc(100% + 20px);
              margin-top: 0 !important;
              margin-bottom: 0 !important;
              margin-left: -10px;
              text-align: center;
              font-weight: 600;
              font-size: 18px;
              font-style: italic;
              color: black;
              a {
                font-style: normal;
              }
            }
            .runtime,
            .websites {
              background: linear-gradient(
                to right,
                transparent,
                rgba(171, 166, 189, 0.7),
                rgba(171, 166, 189, 0.7),
                transparent
              );
            }
            .released {
              background: linear-gradient(
                to right,
                transparent,
                rgba(207, 199, 230, 0.7),
                rgba(207, 199, 230, 0.7),
                transparent
              );
            }
            .runtime {
              border-top: 1px solid gold;
              padding-top: 5px;
            }
            .websites {
              padding-bottom: 5px;
            }
            .social {
              user-select: none;
              display: flex;
              justify-content: end;
              align-items: center;
              border-top: 2px solid rgba(255, 217, 0, 0.704);
              padding-top: 10px;
              width: calc(100% + 20px);
              height: calc(auto + 10px);
              margin-left: -10px;
              padding-left: 10px;
              padding-bottom: 10px;
              margin-bottom: -10px;
              background: rgba(0, 0, 0, 0.192);
              .likes,
              .dislikes {
                height: 60px;
                max-width: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 15px;
                background: transparent;
                border: 1px solid black;
                border-radius: 100%;
                font-size: 20px;
                transition: 0.2s;
                margin: 0 10px 5px 0 !important;
                font-family: Times, serif;
                cursor: pointer;
              }
              .likes:hover {
                background: rgba(0, 128, 0, 0.7);
                transition: 0.2s;
              }
              .dislikes:hover {
                background: rgba(255, 0, 0, 0.7);
                transition: 0.2s;
              }
              .likes.active {
                background: rgba(0, 128, 0, 0.7);
              }
              .dislikes.active {
                background: rgba(255, 0, 0, 0.7);
              }
              .rating {
                height: 60px;
                min-width: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 15px;
                background: transparent;
                border: 2px solid gold;
                border-radius: 100%;
                font-size: 20px;
                margin: 0 auto 5px 0 !important;
                font-family: Times, serif;
                background: rgba(0, 0, 73, 0.719);
                color: white;
                font-weight: 800;
                box-shadow: 0px 0px 5px black;
              }
            }
          }
        }
        .cardContainer:hover {
          background: radial-gradient(
            rgba(255, 255, 255, 0.9),
            rgba(255, 255, 255, 0.4)
          );
          transition: 0.2s;
        }
      }
    }
  }
  .header,
  .footer {
    text-align: center;
    margin: 0 !important;
  }
  .header {
    background: #ff4400cc;
    backdrop-filter: blur(2px);
    border-bottom: 2px solid gold;
    h1 {
      margin: 0 !important;
      padding: 10px;
      font-family: "Mea Culpa", cursive;
      font-weight: 800;
      color: black;
    }
  }
  .toTop {
    position: fixed;
    width: 80px;
    height: 80px;
    background: black;
    bottom: 20px;
    right: 20px;
    z-index: 5;
    border: 3px solid rgb(255, 220, 191);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    box-shadow: 0px 0px 10px black;
    cursor: pointer;
    a {
      text-decoration: none;
      font-size: 18px;
      color: white;
      font-weight: 900;
    }
  }
  .toTop:hover {
    box-shadow: 0px 0px 10px white, 0px 0px 5px white inset;
    transition: 0.2s;
  }
  .footer {
    background: rgba(128, 128, 128, 0.527);
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: 2px solid gold;
  }
}
@keyframes insanity {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 30% 30%;
  }
}
