html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: linear-gradient(to bottom, rgb(36, 0, 36), black);
  scroll-behavior: smooth;
}
.header {
  display: flex;
  justify-content: space-between;
}
#vue_app {
  background: url("img/plush.webp");
  animation: insanity;
  animation-duration: 420s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-size: 30%;
  border-right: 5px double gold;
  border-left: 5px double gold;
  padding: 0 !important;
  .main {
    box-shadow: 0px 0px 50px black inset;
    background: linear-gradient(to top, purple, transparent);
    background-attachment: fixed;
    padding: 0 !important;
    margin: 0 !important;
    .row {
      padding: 0 !important;
      margin: 0 !important;
      .col-md-6 {
        background: rgba(128, 128, 128, 0.527);
        padding: 10px;
        .cardContainer {
          height: 100%;
          width: 100%;
          position: relative;
          padding: 10px;
          background: radial-gradient(
            rgba(255, 255, 255, 0.822),
            rgba(255, 255, 255, 0.171)
          );
          backdrop-filter: blur(3px);
          border: 2px solid gold;
          box-shadow: 0px 0px 5px black;
          border-radius: 20px;
          .imageInfo {
          }
          .film-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            font-weight: 700;
            color: white;
            .title {
              padding: 0 !important;
              margin: 0 !important;
              font-size: 20px;
              font-style: italic;
            }
            .ratingStar {
              position: absolute;
              top: 0;
              right: 0;
              background-color: rgb(0, 0, 73);
              width: 80px;
              height: 80px;
              border-top-right-radius: 20px;
              border-bottom-left-radius: 100%;
              text-align: center;
              padding-top: 20px;
              z-index: 3;
              box-shadow: -2px 2px 3px black;
              border-left: 2px solid gold;
              border-bottom: 2px solid gold;
            }
          }
          .thumbnail {
            img {
              width: 100%;
              aspect-ratio: 3/4;
              border: 5px dotted gold;
              filter: drop-shadow(0px 0px 2px black);
            }
          }
        }
      }
    }
  }
  .header,
  .footer {
    text-align: center;
    margin: 0 !important;
  }
  .header {
    background: #ff4400cc;
    backdrop-filter: blur(2px);
    border-bottom: 2px solid gold;
    h1 {
      margin: 0 !important;
      padding: 10px;
      font-family: "Mea Culpa", cursive;
      font-weight: 800;
      color: black;
    }
  }
  .toTop {
    position: fixed;
    width: 80px;
    height: 80px;
    background: black;
    bottom: 20px;
    right: 20px;
    z-index: 5;
    border: 3px solid rgb(255, 220, 191);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    box-shadow: 0px 0px 10px black;
    cursor: pointer;
    a {
      text-decoration: none;
      font-size: 18px;
      color: white;
      font-weight: 900;
    }
  }
  .toTop:hover {
    box-shadow: 0px 0px 10px white, 0px 0px 5px white inset;
    transition: 0.2s;
  }
}

@keyframes insanity {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 30% 30%;
  }
}
